.add-container {
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 80px;
    resize: none;
}

.save-button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #218838;
}

.back-button {
    background-color: #dc3545;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #a71d2a;
}

.error-message {
    color: #d30707;
    font-size: 15px;
    text-align: center;
    min-height: 2px; /* Резервируем пространство для ошибки */
    margin-top: 10px;
    margin-bottom: 0px; /* Создаем отступ перед кнопкой */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.bounce1, .bounce2, .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
  animation-delay: -0.32s;
}

.bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}