.request-container {
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

/* Заголовок */
.request-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

/* Описание заявки */
.request-container p {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* Поля ввода */
.request-container input, .request-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.request-container textarea {
    height: 80px;
    resize: vertical;
}

/* Блок кнопок */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Кнопки */
.edit-button, .save-button, .back-button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Кнопка редактирования */
.edit-button {
    margin: 10px;
    background-color: #007bff;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
}

/* Кнопка сохранения */
.save-button {
    background-color: #28a745;
    color: white;
}

.save-button:hover {
    background-color: #218838;
}

.back-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100px;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #a71d2a;
}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.bounce1, .bounce2, .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
  animation-delay: -0.32s;
}

.bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}